@import url('http://fonts.googleapis.com/css?family=Bubbler+One');
body {
  background-color: #222;
  color: #eee;
  font-family: 'Bubbler One',sans-serif;
}
.post {
  border: 1px solid #444;
  margin: 1em;
  padding: 1em;
}
.post.active, .post:hover {
  border-color: #666;
}
h1 {
  margin-left: 1em;
}
.info {
  text-align: right;
  float: right;
  color: #ccc;
  font-size: 80%;
}
h2, h3, h4, h5, h6 {
  display: inline-block;
  margin: 0;
}
.caption {
  color: #444;
}
a {
  color: #87ceeb;
}
